! Fonts
*.font: xft:Fira Mono:size=11,style=medium
*.boldFont: xft:Fira Mono:size=11,style=bold
*.italicFont: xft:Fira Mono:size=11,style=italic
*.boldItalicFont: xft:Fira Mono:size=11,style=bold
*.letterSpace: -1

#include ".Xresources.d/urxvt"
! #include ".Xresources.d/urxvt.mikado"
#include ".Xresources.d/themes/marrakesh"
